<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jokes</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Milyenre vágatja a frizuráját a vidra?\n- ???\n- Rövidra!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit fűrészel a macska?\n- ???\n- A kutya fáját.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1002</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják a portugál madarat?\n- ???\n- Rodrigó</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1003</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miről lehet felismerni a repülő nyulat?\n- ???\n- Egy hatalmas sast cipel a hátán.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1004</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért szeret a fóka a jégen sörözni?\n- ???\n- Mert ott jobban csúszik.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1005</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért szomorú a hím gólya?\n- ???\n- Mert a nőstényt nem érdekli hogy mennyit költ.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1006</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit rágcsál az emberevő hód?\n- ???\n- Családfát.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1007</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a különbség a leopárd és a pöttyös labda között?\n- ???\n- A labdába kétszer is nyugodtan bele lehet rúgni.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1008</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért van akkora füle az elefántnak?\n- ???\n- Hogy könnyebben szállhasson virágról virágra!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1009</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit mond a horgász, ha megmoccan a vízben az úszója?\n- ???\n- Pszt! Ráng!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1010</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Melyik hal tanulna idegen nyelvet?\n- ???\n- Az angolna.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1011</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit ér az a sirály, amelyik elfelejt repülni?\n- ???\n- Földet!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1012</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hova járnak szórakozni a hernyók?\n- ???\n- Bábszínházba.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1013</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Honnan lehet felismerni a vidám elefántot?\n- ???\n- Nem lógatja az orrát.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1014</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi van a macske fején?\n- ???\n- Cirmos cica haj</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1015</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- A sivatagban él és látszólag semm dolga nincs, mi az?\n- ???\n- Ücsörgőkígyó.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1016</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogyan jut lakáshoz a meztelen csiga?\n- ???\n- Megházasodik.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1017</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Melyik a legfeledékenyebb hal?\n- ???\n- Nem emlékszem rája..</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1018</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Ki az állatok diszkósa?\n- ???\n- A technos-béka.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1019</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják a süket kutyát?\n- ???\n- Hát, jó hangosan!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1020</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>Két tehén nadrágot vásárol a boltban. Mondja az egyik:\n- Bőő!\nMondja a másik:\n- Honnan tudod, még fel sem próbáltad!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1021</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Áll egy tehén a buszmegállóban. Ha megjön a busz, hova fog felszállni?\n- ???\n- Legelőre.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1022</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>A pocok kérdezi a kígyót:\n- Hé, te kígyó, tényleg megetted a haveromat?\n- Mérget vehetsz rá!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1023</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy rejtőzik el a gyík a kemencében?\n- ???\n- Beleolvad a környezetébe!</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1024</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják azt a pávát, amelyik tigrissel találkozik?\n- ???\n- Pápáva.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1025</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért zsíros a tej?\n- ???\n- Hogy ne nyikorogjon a tehén fejés közben.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1026</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miből faragják a fatehenet?\n- ???\n- Tőgyfából.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1027</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi az amiről a kígyók beszélgetnek?\n- ???\n- Szisztéma.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1028</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Két hangyász beszélget:\n- Megkóstolod az ebédemet?\n- Na jó, de csak egy katonát..</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1029</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a medúza a rock koncerten?\n- ???\n- Az első sorban csápol.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1030</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Milyen zene szól a hangyász temetésén?\n- ???\n- A han-gyászinduló</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>1031</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a különbség a részeg és a nyuszika közt?\n- ???\n- A részeg kinyitja a sörét, a nyuszikát kinyírja a sörét.</string>
			<key>type</key>
			<string>animal</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit mond a vak DJ?\n- ???\n- Nem látom a kezekeeeeet!</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit mond a pedofil a MÁV pénztárnál?\n- ???\n- Egy diákot Pestig.</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2002</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a közös a nőben és a gyufában?\n- ???\n-  Ha benedvesedik, akkor baszhatod!</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2003</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a cigány ha befejezi az egyetemet?\n- ???\n- Átmegy egy másik építkezésre!</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2004</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit vesz a halott a boltban?\n- ???\n- Élesztőt.</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2005</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi az? Két hulla úszik a vízen?\n- ???\n- Holtverseny.</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2006</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi az abszolút fajgyűlölet?\n- ???\n- Amikor a kopaszbarack veri a cigánymeggyet.</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2007</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a hasonlóság a cigány fiában és a borotvapengében?\n- ???\n- Mind a kettő Józsilett.</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2008</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják a kávéfőző cigánygyereket?\n- ???\n- Jakobs a roma.</string>
			<key>type</key>
			<string>rough</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a női programozó rémálma?\n- ???\n- A végtelen ciklus.</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a számítógépes szépségápolás?\n- ???\n- Átküldök neked egy giga bájt!</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3002</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hol alszanak az álmos bitek?\n- ???\n- A hálókártyán.</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3003</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nem csak ül a digit?\n- ???\n- Mert a digit áll is.</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3004</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit kavar fel két egymás mellett haladó nyomtató a sivatagban?\n- ???\n- Párhuzamos port.</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3005</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Melyik a leghosszabb hálózati kapcsolat?\n- ???\n- HoltodigLAN.</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3006</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi az: kicsi, sárga, de mégis nagy hatalma van?\n- ???\n- A root kiskacsa...</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3007</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mire táncolnak a programozók a bulin?\n- ???\n- Algoritmusra.</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3008</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hol legelnek a Floppy-lemezek?\n- ???\n- Diszkréten...</string>
			<key>type</key>
			<string>it</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi lesz a sáskából ha megnő?\n- ???\n- Sás.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Ki tud magasabbra ugrani, mint egy felhőkarcoló?\n- ???\n- Mindenki, mert a felhőkarcolók nem tudnak ugrani!</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4002</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinálnak a várvédők szabadidejükben?\n- ???\n- Elfoglalják magukat...</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4003</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Kőműves Kelemen ebédnél:\n- Egyél fiam anyád már fal!</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4004</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit vet a kövér paraszt?\n- ???\n- Jó nagy árnyékot.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4005</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogyan hívják a liftet New Yorkban?\n- ???\n- Nyomógombbal.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4006</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Fehér, hideg és teljesen mozdulatlan, mi az?\n- ???\n- Hulla hó.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4007</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a depressziós vállfa?\n- ???\n- Felakasztja magát.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4008</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nem lehet a járdán biciklizni?\n- ???\n- Mert nincs rajta pedál.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4009</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogyan lehet felismerni a kezdő tűzoltót?\n- ???\n- Elég könnyen...</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4010</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Akarsz sokat keresni?\n- Igen.\n- Akkor jól elbújok.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4011</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit kap a kis vidra ha ki jön a vízből?\n- ???\n- Levegőt.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4012</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit érez a katona, amikor látja hazájának zászlaját lobogni?\n- ???\n- A szelet.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4013</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Azt hallottad, hogy rájöttek a Loch Ness-i szörny titkára?\n- Nincs is neki titkára.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4014</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért kering a sas a hegy fölött?\n- ???\n- Mert alatta nem tud.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4015</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják a japán tűzoltót?\n- ???\n- Telefonon.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4016</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit söpörnek a reptéren?\n- ???\n- Airport.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4017</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Milyen gyapja marad a kis lámának a nyírás után?\n- ???\n- Nagyapja.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4018</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Min nevetnek a legtöbbet a cowboyok?\n- ???\n- Lóháton.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4019</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Minek megy a vak az erdőbe?\n- ???\n- Fának.</string>
			<key>type</key>
			<string>anti</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Két süteménytészta beszélget a kemencében:\n- Nagyon forró ez a kemence!\n- Ja! Már süti a hátam!</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi történne a pisai ferde toronnyal a Szaharában?\n- ???\n- Dűne.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5002</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mivel járnak a turisták Karthágó romjaihoz?\n- ???\n- Rombusszal.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5003</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Két egyiptomi a sivatag közepén:\n- Tevén ülsz?\n- Vénül ám az öreganyád!</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5004</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a norvég hajóskapitány, ha zsákutcába jut a hajója?\n- ???\n- Megfjordul.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5005</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miben különbözik Irán és egy porszívó?\n- ???\n- Az egyik perzsákkal van tele a másik porzsákkal.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5006</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy kínálja áruját az olajsejk?\n- ???\n- Kő olaj?</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5007</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a süket kalóz a telefonfülkében?\n- ???\n- Halóz.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5008</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miről lehet felismerni a mérges búvárt?\n- ???\n- Alig lát a pipától.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5009</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy került a kezdő autóvezető lába a sütőbe?\n- ???\n- A barátai bíztatták, hogy nyugodtan taposson a gázba.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5010</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi van a favágó szerszámoskamrájának ajtaján?\n- ???\n- Baltazár.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5011</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit mond az, aki szánkó nélkül tér haza a szánkózásból?\n- ???\n- Szánom bánom!</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5012</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Melyik a prémvadász kedvenc városa?\n- ???\n- Veszprém.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5013</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mondj egy tűzhányót, amelyik kimegy a divatból!\n- ???\n- Ela-vulkán.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5014</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért kell óvatosan kinyitni a Nemzeti Sportot?\n- ???\n- Hogy ki ne essen az Újpest.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5015</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért karikás az ördög szeme?\n- ???\n- Mert az ördög sohasem alszik.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5016</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják az afrikai tolvajt?\n- ???\n- Anti lop</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5017</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi az: cukros és szobahőmérsékleten köt?\n- ???\n- Nagymama.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5018</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi palacsinta ország fővárosa?\n- ???\n- Lekváros.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5019</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mire jött rá Józsi 6 év börtön után?\n- ???\n- Hogy nem is ő van bezárva, hanem az ajtó.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5020</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy hívják a nincstelen titkosügynököt?\n- ???\n- Szegénykém.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5021</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál az űrjahós, ha megszomjazik?\n- ???\n- Űrkutat ás.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5022</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért buta a fa?\n- ???\n- Mert esze ágában sincs.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5023</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Melyek a legtétovább rovarok?\n- ???\n- A mitévő legyek.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5024</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mije van a birsalma fának?\n- ???\n- Birságai.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5025</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért adott fel apróhirdetést a légtornász?\n- ???\n- Mert elvesztette az egyensúlyát</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5026</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nem rosszalkodik az iskolában a tulipánhagyma?\n- ???\n- Fél, hogy elültetik.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5027</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a tolvaj ha nyaralni megy?\n- ???\n- Lopja a napot.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5028</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi a hímzés ellenkezője?\n- ???\n- Nőzés.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5029</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mikor boldog az űrhajó?\n- ???\n- Az űr ha jó.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5030</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogyan kiáltott fel a zeneszerző amikor legújabb műve beleesett a forró vízbe?\n- ???\n- Forr a dalom!</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5031</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért csípte ki magát a tehetségtelen festő?\n- ???\n- Mert azt mondták neki hogy jól fest öltönyben.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5032</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mi van a csempész arcán ha lebukik a határon?\n- ???\n- Vám pír.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5033</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miben különbözik egy kaktusz és egy nő?\n- ???\n- Egy kaktusz a sivatagban is nő, de egy nő a sivatagban sem kaktusz.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5034</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nincs soha pénze a Jetinek?\n- ???\n- Túl nagy lábon él.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5035</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nincs a mozdonyon bástya?\n- ???\n- Mert a vonat nem vár...</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5036</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nem esett el soha Mozart a hajón?\n- ???\n- Mert hatéves kora óta tudott kompon állni.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5037</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Mit csinál a bizonytalan tetoválóművész?\n- ???\n- Tétovál.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5038</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Milyenek lesznek az átfázott emberek a konyaktól?\n- ???\n- Mozgékonyak.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5039</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miárt nem lehet megbízni a villámban?\n- ???\n- Mert percenként akár százszor is becsaphat!</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5040</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Honnan lehet felismerni a makkegészséges hegyet?\n- ???\n- Csúcsformában van.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5041</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért szereti a gumikötél a bungee jumpingot?\n- ???\n- Mert nem kell megszakadni a munkában.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5042</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy tanul a gabonakereskedő?\n- ???\n- Bemagol mindent.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5043</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nincs az ágyon Ű betű?\n- ???\n- Mert az ágyneműtartó!</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5044</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Kit hívnak ha beleesik a vak a kútba?\n- ???\n- A vakmerőt.</string>
			<key>type</key>
			<string>tiring</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Jean, mi ez a dubörgés a szekrényben?\n- ???\n- Csak a ruhák mennek ki a divatból uram!</string>
			<key>type</key>
			<string>jean</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Jean, vigye az ágyamat a padlásra!\n- Miért uram?\n- Mert fent szeretnék maradni.</string>
			<key>type</key>
			<string>jean</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Móriczka, mondj egy téli zöldséget!\n- Síparadicsom!</string>
			<key>type</key>
			<string>móriczka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7001</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Móriczka, mit eszik az orángután?\n- ???\n- Még sosem ettem orangot, és tessék inkább tegezni Tanárnő!</string>
			<key>type</key>
			<string>móriczka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7003</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Móriczka, ilyen piszkosan nem mehetsz az olimpiára!\n- De anyu, ez csak díszkosz.</string>
			<key>type</key>
			<string>móriczka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7004</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért nem tanult meg Móriczka vízisízni?\n- ???\n- Mert nem talált lejtős tavat.</string>
			<key>type</key>
			<string>móriczka</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért ás a rendőr két gödröt?\n- ???\n- Mert az egyik túl kicsire sikerült.</string>
			<key>type</key>
			<string>cop</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Melyik a rendőr szúnyog?\n- ???\n- Amelyik nyakon csíp!</string>
			<key>type</key>
			<string>cop</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogyan fog a rendőr nyulat?\n- ???\n- Utánozza a répa hangját.</string>
			<key>type</key>
			<string>cop</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Miért megy a rendőr a fal mellett?\n- ???\n- Hogy körbe ne röhögjék.</string>
			<key>type</key>
			<string>cop</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Két rendőr közül melyik pisil távolabb?\n- ???\n- Amelyik előtte lehúzza a sliccét.</string>
			<key>type</key>
			<string>cop</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9000</integer>
			<key>isStored</key>
			<false/>
			<key>isUsed</key>
			<false/>
			<key>joke</key>
			<string>- Hogy csinál a szőke nő lekvárt?\n- ???\n- Kinyomja a buktából.</string>
			<key>type</key>
			<string>blonde</string>
		</dict>
	</array>
</dict>
</plist>
